# Project exclude paths
/youlexuan-cart-interface/target/
/youlexuan-cart-service/target/
/youlexuan-cart-web/target/
/youlexuan-common/target/
/youlexuan-content-interface/target/
/youlexuan-content-service/target/
/youlexuan-dao/target/
/youlexuan-manager-web/target/
/youlexuan-order-interface/target/
/youlexuan-order-service/target/
/youlexuan-page-interface/target/
/youlexuan-page-service/target/
/youlexuan-page-web/target/
/youlexuan-pay-interface/target/
/youlexuan-pay-service/target/
/youlexuan-pojo/target/
/youlexuan-portal-web/target/
/youlexuan-search-interface/target/
/youlexuan-search-service/target/
/youlexuan-search-web/target/
/youlexuan-seckill-interface/target/
/youlexuan-seckill-service/target/
/youlexuan-seckill-web/target/
/youlexuan-sellergoods-interface/target/
/youlexuan-sellergoods-service/target/
/youlexuan-shop-web/target/
/youlexuan-sms-service/target/
/youlexuan-solr-utils/target/
/youlexuan-user-interface/target/
/youlexuan-user-service/target/
/youlexuan-user-web/target/